# Copy to .env and fill in real values. Never commit .env.

API_HOST=0.0.0.0
API_PORT=8000

# https://www.last.fm/api/account/create
LASTFM_API_KEY=


_PIP_ADDITIONAL_REQUIREMENTS=requests beautifulsoup4 lxml python-dotenv
